@charset "utf-8";

/*1217px 이상*/
@media(min-width: 1217px){
  *{margin: 0; padding: 0; box-sizing: border-box;}
  html {scroll-behavior: smooth;}
  body{font-family: 'Noto Sans KR', sans-serif; background-color: rgb(245, 241, 241);}
  li, ul, ol{list-style: none;}
  a{text-decoration: none; color: black;}

  /*헤더*/
  header{width: 100%; height: 50px; transition: 0.5s ease-in-out; z-index: 10;}
  header>.contentBox{padding-left: 3%;}
  header.fixed{background: #eb6100; position: fixed; top: 0px; width: 100%;}
  
  .menu{width: 75%; height: 100%; display: flex; float: left;}
  .menu li{width: 100%; height: 100%; padding-top: 10px; cursor: pointer;}
  .menu li i{font-size: 20px; padding-right: 15%;}
  .menu li a{font-weight: bold;}
  .menu li a:hover{color:#eb6100;}
  .menu li a.txtCh{color: #fff;}
  .menu li a.txtCh:hover{color: black;}
  
  .login{width: 25%; height: 100%; display: flex; float: right; justify-content: space-around; padding-top: 15px; padding-right: 2%;}
  .login li{font-size: 13px; padding-right: 3%;}
  .login li a.txtCh{color: #fff;}

  /*풋터*/
footer{width: 100%; height: 150px; margin-top: 30px; border-top: 1px solid rgb(172, 172, 172);}
.footer_left{width: 20%; height: 100%; float: left;}
.footer_left img{margin: 10% 20% 0% 20%;}
.footer_right{width: 80%; height: 100%; float: right; font-size: 13px; padding: 2%;}
.footer_right span{color: #666;}
.footer_right p{margin-top: 1%;}
}

/*1216 이하*/
@media(max-width: 1216px){
  *{margin: 0; padding: 0; box-sizing: border-box;}
  html {scroll-behavior: smooth;}
  body{font-family: 'Noto Sans KR', sans-serif; background-color: rgb(245, 241, 241);}
  li, ul, ol{list-style: none;}
  a{text-decoration: none; color: black;}

  /*헤더*/
  header{width: 100%; height: 50px; transition: 0.5s ease-in-out; z-index: 10;}
  header>.contentBox{padding-left: 3%;}
  header.fixed{background: #eb6100; position: fixed; top: 0px; width: 100%;}
  
  .menu{width: 75%; height: 100%; display: flex; float: left;}
  .menu li{width: 100%; height: 100%; padding-top: 10px; cursor: pointer;}
  .menu li i{font-size: 20px; padding-right: 15%;}
  .menu li a{font-weight: bold;}
  .menu li a:hover{color:#eb6100;}
  .menu li a.txtCh{color: #fff;}
  .menu li a.txtCh:hover{color: black;}
  
  .login{width: 25%; height: 100%; display: flex; float: right; justify-content: space-around; padding-top: 15px; padding-right: 2%;}
  .login li{font-size: 13px; padding-right: 3%;}
  .login li a.txtCh{color: #fff;}

  /*풋터*/
footer{width: 100%; height: 150px; margin-top: 30px; border-top: 1px solid rgb(172, 172, 172);}
.footer_left{width: 20%; height: 100%; float: left;}
.footer_left img{margin: 10% 20% 0% 20%;}
.footer_right{width: 80%; height: 100%; float: right; font-size: 13px; padding: 2%;}
.footer_right span{color: #666;}
.footer_right p{margin-top: 1%;}
}